@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
  body {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
