---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import hero from "../assets/images/hero.webp";
---

<MainLayout title="Trines Personlige Professionelle Profil">
  <section class="mx-11 grid md:grid-cols-2">
    <article class="content-center">
      <h1 class="text-8xl text-[#252020] pb-3">UX/UI Designer</h1>
      <p class="text-lg text-[#252020] prose">Mit navn er Trine, jeg er 27 år og studerer multimediedesign på Københavns Erhvervsakademi. Jeg har en stor interesse for UX design og gennemføre brugerundersøgelser og brugertest, samt udvikle grafiske designs. Jeg ser frem til at blive en del af et team, hvor jeg kan udvikle mine kompetencer og bidrage med kreative og brugervenlige løsninger.</p>
    </article>
    <Image class="border-8 border-white rotate-[-13deg] m-auto" src={hero} alt="" />
  </section>

  <section class="mt-16">
    <h2 class="text-6xl text-[#252020] text-center">Kvalifikationer</h2>
    <div class="grid md:grid-cols-4">
      <div>
        <Card titel="Programmer" liste1="Figma" liste2="Illustrator" />
      </div>

      <div>
        <Card titel="bla" liste1="Figma" liste2="Illustrator" />
      </div>

      <div>
        <Card titel="Emner" liste1="Figma" liste2="Illustrator" />
      </div>

      <div>
        <Card titel="Færdigheder" liste1="Figma" liste2="Illustrator" />
      </div>
    </div>
  </section>

  <section>
    <h2 class="text-6xl text-[#252020] text-center">Erfaringer</h2>
    <!-- Horisontal scrolling kodestump -->
  </section>
</MainLayout>
