---
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<div>
  <article>
    <h1>Kontakt</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, pariatur consectetur earum eligendi blanditiis incidunt saepe repudiandae nemo illum officia voluptatibus? Nam expedita sequi quis eius error at. Necessitatibus, commodi.</p>
  </article>
  <article>
    <Image src={thumbsup} alt="" />
    <p>trine.e.larsen@gmail.com</p>
    <p>+4560226630</p>
  </article>
</div>
