---
import { Image } from "astro:assets";
import linkedin from "../assets/images/linkedin.svg";
import blomst_footer from "../assets/images/blomst_footer.svg";
---

<div class="flex justify-end"><Image class="absolute flex-shrink-0" src={blomst_footer} alt="" /></div>
<div class="mx-11 relative z-10">
  <article class="md:flex md:flex-col items-center text-left mb-10 md:mb-28">
    <h1 class="text-9xl text-[#252020]">Kontakt</h1>
    <p class="prose text-[#252020]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, pariatur consectetur earum eligendi blanditiis incidunt saepe repudiandae nemo illum officia voluptatibus? Nam expedita sequi quis eius error at. Necessitatibus, commodi.</p>
  </article>
  <article class="flex flex-col md:flex-row justify-between items-center z-10">
    <a href="https://www.linkedin.com/in/trine-ekberg-larsen-762a16278/" class="md:order-3 mb-4" target="_blank"><Image class="w-10" src={linkedin} alt="" /></a>
    <p class="md:order-2 text-2xl text-[#252020] mb-4">trine.e.larsen@gmail.com</p>
    <p class="text-2xl text-[#252020] mb-4">+4560226630</p>
  </article>
</div>
