---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
import "animate.css";
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Just+Another+Hand&family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="bg-[#EDECE5] max-w-7xl mx-auto">
    <header>
      <Header />
    </header>

    <main class="">
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>
